html, body {
    height: 100%;
}

body {
    background: #a36adb;
    display: flex;
    flex-direction: column;
}

section.header {
    min-height: 130px;
    display: flex;
    flex-direction: column;
}

.text{
    padding: 60px;
    
}

.button{
    text-align: center;
}
.form-row{
    flex-direction: column;
}
section.header .anonima {
    display: flex;
    flex-direction: row;
}
.logoA{
    height: 60px;
    margin: 20px;
}
.logoB{
    height: 30px;
    margin: 20px;
}
section.header .anonima span {
    flex: 1;
}

.sect{
   display: none;
}

section.header .anonima,
section.header .contact {
    flex: 1;
}

section.header .contact  {
    text-align: center;
    
}

.contact {
    padding-bottom: 80px;
    color: gray;
    text-align: center;
    line-height: 25px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}


.contact1 {
    font-size: 20px;
    padding-bottom: 60px;
}

section.main {
    background: white;
    border-radius: 30px 30px 0 0;
    flex: 1;
    padding: 40px;
}

.pink{
    background-color: #adb5bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    text-align: center;
}
.submit{
    background-color: #dd97e8;
    padding: 20px;
}

.members{
    display: flex;
    justify-content: center;
    
}

.pad{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tako {
    border-radius: 50%;
    position: relative;
    margin: 60px;
    overflow: hidden;
    border: 1px solid silver
}

.tako img {
    height: 120px;
    width: 120px;
    
}

.tako .social {
    display: none;
    position: absolute;
    bottom: 6px;
    left: 44px;
    
    width: 30px;
    height: 30px;
    
}

.member {
    position: relative
}

.member:hover .tako .social {
    display: block;
    z-index: 10;
}

.member:hover .tako::after {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #dd97e8;
                    opacity: 0.5;
                    
                }
.line1{
    line-height: 40px;

}

strong {
    font-weight: bold;
}

@media screen and (max-width: 500px) {

    .tako {
        margin: 28px;
    }

    .member{
        font-size: 12px;
    }
}
