html, body {
    height: 100%;
}

body {
    background: #a36adb;
    display: flex;
    flex-direction: column;
}

section.header {
    height: 130px;
    display: flex;
    flex-direction: column;
}

.text{
    padding: 60px;
    
}
.button{
    text-align: center;
}
.form-row{
    flex-direction: column;
}
section.header .anonima {
    display: flex;
    flex-direction: row;
}
.logoA{
    height: 60px;
    margin: 20px;
}
.logoB{
    height: 30px;
    margin: 20px;
}
section.header .anonima span {
    flex: 1;
}

section.header .anonima,
section.header .contact {
    flex: 1;
}

section.header .contact  {
    text-align: center;
    
    
    
}

/* section.header .contact button  {
    background-color: #dd97e8;
    height: 40px;
    
} */

.contact1 {
    font-size: 20px;
}
.contact{
    padding-bottom: 20px;
    color: gray;
    text-align: center;
}
section.main {
    background: white;
    border-radius: 30px 30px 0 0;
    flex: 1;
    padding: 40px;
}

.pink{
    background-color: #dd97e8;
    color: #fff;
    border-radius: 20px;
    border: none;
    text-align: center;
}
.submit{
    background-color: #a36adb;
    margin-left: 25%;
    margin-right: 25%;
}
.pad{
    padding: 30px;
}
/* section.main .social {
    border-radius: 30px;
    padding: 10px;
    height: 40px;
    background-color: #dd97e8;
    margin-left: auto;
    margin-top: 10px;
    float: right;
} */

::placeholder {
color: white!important; 
}