html,
body {
    height: 100%;
}

body {
    background: #a36adb;
    display: flex;
    flex-direction: column;
}

section.header {
    height: 130px;
    display: flex;
    flex-direction: column;
}

.text {
    padding: 60px;
}

.button {
    text-align: center;
}

.form-main {
    display: flex;
    justify-content: center;
}

.form-row {
    flex-direction: column;
    max-width: 500px;
}

section.header .anonima {
    display: flex;
    flex-direction: row;
}

.logoA {
    height: 60px;
    margin: 20px;
}

.logoB {
    margin-top: 20px;
    height: 60px;
}

section.header .anonima span {
    flex: 1;
}

section.header .anonima,
section.header .contact {
    flex: 1;
}

section.header .contact {
    text-align: center;
}


/* section.header .contact button  {
    background-color: #dd97e8;
    height: 40px;
    
} */

.contact {
    padding-bottom: 20px;
    color: gray;
    text-align: center;
}

.contact1 {
    font-size: 20px;
    padding-bottom: 60px;
}

section.main {
    background: white;
    border-radius: 30px 30px 0 0;
    flex: 1;
    padding: 40px;
}

.pink {
    background-color: #adb5bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 20px;
}

.submit {
    background-color: #dd97e8;
    padding: 20px;
}

.pad {
    padding: 30px;
}


/* section.main .social {
    border-radius: 30px;
    padding: 10px;
    height: 40px;
    background-color: #dd97e8;
    margin-left: auto;
    margin-top: 10px;
    float: right;
} */

::placeholder {
    color: white!important;
}

strong {
    font-weight: bold;
}